@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Located out of Windsor, Ontario, Canada. Crystal Vortex Records is dedicated to providing the best, top quality electronic music to the public.
    We are currently in the process of expanding our company and are looking for artists who would like to release under our label.
</p>
<p>
    We are a free netlabel, meaning there is no profit involved (for now).
    But we are working on becoming a profitable label and releasing our tracks with generous royalties to the artists.
    First thing is to establish a worthy presence in the music community.
</p>
<p>
    If you would like to help in any way, or release your music through us, feel free to leave some feedback in our Contact Us form.
    We will be sure to get back to you as soon as possible.
</p>
<p>
    Enjoy the Music!!
    <br />&nbsp;&nbsp;
    - Crystal Vortex Records
</p>